<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Tareas</title>
</head>

<body>
    <main class="dashboard">
        <aside class="aside">
            <ul>
                <li>Tareas</li>
                <li>Perfil</li>
            </ul>
        </aside>
        <section class="main">
            <div class="header">
                <h2>Dashboard</h2>
            </div>
            <div class="content">
                <div>
                    <form action="/register-task" method="post">
                        <div class="form-group">
                            <input type="hidden" name="id" id="id" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción</label>
                            <textarea type="" name="description" id="description" required></textarea>
                        </div>
                        <div class="button-container">
                            <input type="submit" value="Guardar">
                        </div>
                    </form>
                </div>
                <div class="table-container">
                    <table>
                        <thead>
                            <th>ID</th>
                            <th>Tarea</th>
                            <th>Descripción</th>
                            <th>Acción</th>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                            <tr>
                                <td>{{task[0]}}</td>
                                <td>{{task[2]}}</td>
                                <td>{{task[3]}}</td>
                                <td>
                                    <a href="/edit-task/{{task[0]}}" class="edit">Editar</a>
                                    <a href="/delete-task/{{task[0]}}" class="delete">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </main>
</body>

</html>